{% stories icon_card with { 
  title: 'AccuEdits/Composits/Icon-Card'
} %}

    {% story icon_card_default with {
      name: 'Elevated',
      args: {
        icon_card_items: [
          {
            icon: 'pageview',
            heading: 'User Research',
            description: 'If a dog chews shoes whose shoes does he choose?',
            ctaText: 'Read more',
            ctaHref: 'https://www.drupalgeek.com',
            background_color: 'primary',
            type: 'elevated',
            alignment: 'left',
            orientation: 'vertical',
            placement: 'left',
          },
          {
            icon: 'check_circle',
            heading: 'Strategy & Planning',
            description: 'If a cat chases mice does it enjoy the hunt?',
            ctaText: 'Google Website',
            ctaHref: 'https://www.google.com',
            background_color: 'secondary',
            type: 'elevated',
            alignment: 'center',
            orientation: 'vertical',
            placement: 'middle',
          },
          {
            icon: 'app_settings_alt',
            heading: 'App Design',
            description: 'Nulla vitae elit libero, a pharetra augue.',
            ctaText: 'Google Website',
            ctaHref: 'https://www.google.com',
            background_color: 'accent',
            type: 'elevated',
            alignment: 'right',
            orientation: 'vertical',
            placement: 'end',
          },
                    {
            icon: 'pageview',
            heading: 'User Research',
            description: 'If a dog chews shoes whose shoes does he choose?',
            ctaText: 'Read more',
            ctaHref: 'https://www.drupalgeek.com',
            background_color: 'primary',
            type: 'elevated',
            alignment: 'left',
            orientation: 'horizontal',
            placement: 'left',
          },
          {
            icon: 'check_circle',
            heading: 'Strategy & Planning',
            description: 'If a cat chases mice does it enjoy the hunt?',
            ctaText: 'Google Website',
            ctaHref: 'https://www.google.com',
            background_color: 'secondary',
            type: 'elevated',
            alignment: 'center',
            orientation: 'horizontal',
            placement: 'middle',
          },
          {
            icon: 'app_settings_alt',
            heading: 'App Design',
            description: 'Nulla vitae elit libero, a pharetra augue.',
            ctaText: 'Google Website',
            ctaHref: 'https://www.google.com',
            background_color: 'accent',
            type: 'elevated',
            alignment: 'right',
            orientation: 'horizontal',
            placement: 'end',
          },
        ]
      }
  } %}

   <h1 class="text-3xl font-bold mb-4">Elevated Cards</h1>
   <div class="grid gap-x-4 gap-y-8 grid-cols-1 md:grid-cols-3"> 
   
      {% for item in icon_card_items %}

        {% if item.icon is not empty %}
          {% set material_icon = {
            '#theme': 'material_icon',
            '#icon': item.icon,
            '#family': 'material-icons-two-tone',
            '#classes': 'text-4xl',
          } %}
        {% else %}
          {% set material_icon = '' %}
        {% endif %}

        {% if item.description %}
          {% set hmtl_text = {
            '#type':   'processed_text',
            '#text':    item.description,
            '#format':  'basic_html',
          } %}
        {% endif %}

        {{ include('sanfran:icon-card', {
            icon: material_icon,
            heading: item.heading,
            description: hmtl_text,
            ctaText: item.ctaText,
            ctaHref: item.ctaHref,
            background_color: item.background_color,
            type: item.type,
            alignment: item.alignment,
            orientation: item.orientation,
            placement: item.placement,
            quick_edit: '',
          })
        }}

      {% endfor %}

    </div>

  {% endstory %}

  {% story icon_card_filled with {
      name: 'Filled',
      args: {
        icon_card_items: [
          {
            icon: 'pageview',
            heading: 'User Research',
            description: 'If a dog chews shoes whose shoes does he choose?',
            ctaText: 'Read more',
            ctaHref: 'https://www.drupalgeek.com',
            background_color: 'neutral',
            type: 'filled',
            alignment: 'left',
            orientation: 'vertical',
            placement: 'left',
          },
          {
            icon: 'check_circle',
            heading: 'Strategy & Planning',
            description: 'If a cat chases mice does it enjoy the hunt?',
            ctaText: 'Google Website',
            ctaHref: 'https://www.google.com',
            background_color: 'base-200',
            type: 'filled',
            alignment: 'center',
            orientation: 'vertical',
            placement: 'middle',
          },
          {
            icon: 'app_settings_alt',
            heading: 'App Design',
            description: 'Nulla vitae elit libero, a pharetra augue.',
            ctaText: 'Google Website',
            ctaHref: 'https://www.google.com',
            background_color: 'error',
            type: 'filled',
            alignment: 'right',
            orientation: 'vertical',
            placement: 'end',
          },
           {
            icon: 'pageview',
            heading: 'User Research',
            description: 'If a dog chews shoes whose shoes does he choose?',
            ctaText: 'Read more',
            ctaHref: 'https://www.drupalgeek.com',
            background_color: 'neutral',
            type: 'filled',
            alignment: 'left',
            orientation: 'horizontal',
            placement: 'left',
          },
          {
            icon: 'check_circle',
            heading: 'Strategy & Planning',
            description: 'If a cat chases mice does it enjoy the hunt?',
            ctaText: 'Google Website',
            ctaHref: 'https://www.google.com',
            background_color: 'base-200',
            type: 'filled',
            alignment: 'center',
            orientation: 'horizontal',
            placement: 'middle',
          },
          {
            icon: 'app_settings_alt',
            heading: 'App Design',
            description: 'Nulla vitae elit libero, a pharetra augue.',
            ctaText: 'Google Website',
            ctaHref: 'https://www.google.com',
            background_color: 'error',
            type: 'filled',
            alignment: 'right',
            orientation: 'horizontal',
            placement: 'end',
          },
        ]
      }
  } %}

   <h1 class="text-3xl font-bold mb-4">Filled Cards</h1>
   <div class="grid gap-x-4 gap-y-8 grid-cols-1 md:grid-cols-3"> 
   
      {% for item in icon_card_items %}

        {% if item.icon is not empty %}
          {% set material_icon = {
            '#theme': 'material_icon',
            '#icon': item.icon,
            '#family': 'material-icons-two-tone',
            '#classes': 'text-4xl',
          } %}
        {% else %}
          {% set material_icon = '' %}
        {% endif %}

        {% if item.description %}
          {% set hmtl_text = {
            '#type':   'processed_text',
            '#text':    item.description,
            '#format':  'basic_html',
          } %}
        {% endif %}

        {{ include('sanfran:icon-card', {
            icon: material_icon,
            heading: item.heading,
            description: hmtl_text,
            ctaText: item.ctaText,
            ctaHref: item.ctaHref,
            background_color: item.background_color,
            type: item.type,
            alignment: item.alignment,
            orientation: item.orientation,
            placement: item.placement,
            quick_edit: '',
          })
        }}

      {% endfor %}

    </div>

  {% endstory %}

  {% story icon_card_outlined with {
      name: 'Outlined',
      args: {
        icon_card_items: [
          {
            icon: 'pageview',
            heading: 'User Research',
            description: 'If a dog chews shoes whose shoes does he choose?',
            ctaText: 'Read more',
            ctaHref: 'https://www.drupalgeek.com',
            background_color: 'info',
            type: 'outlined',
            alignment: 'left',
            orientation: 'vertical',
            placement: 'left',
          },
          {
            icon: 'check_circle',
            heading: 'Strategy & Planning',
            description: 'If a cat chases mice does it enjoy the hunt?',
            ctaText: 'Google Website',
            ctaHref: 'https://www.google.com',
            background_color: 'success',
            type: 'outlined',
            alignment: 'center',
            orientation: 'vertical',
            placement: 'middle',
          },
          {
            icon: 'app_settings_alt',
            heading: 'App Design',
            description: 'Nulla vitae elit libero, a pharetra augue.',
            ctaText: 'Google Website',
            ctaHref: 'https://www.google.com',
            background_color: 'warning',
            type: 'outlined',
            alignment: 'right',
            orientation: 'vertical',
            placement: 'end',
          },
          {
            icon: 'pageview',
            heading: 'User Research',
            description: 'If a dog chews shoes whose shoes does he choose?',
            ctaText: 'Read more',
            ctaHref: 'https://www.drupalgeek.com',
            background_color: 'info',
            type: 'outlined',
            alignment: 'left',
            orientation: 'horizontal',
            placement: 'left',
          },
          {
            icon: 'check_circle',
            heading: 'Strategy & Planning',
            description: 'If a cat chases mice does it enjoy the hunt?',
            ctaText: 'Google Website',
            ctaHref: 'https://www.google.com',
            background_color: 'success',
            type: 'outlined',
            alignment: 'center',
            orientation: 'horizontal',
            placement: 'middle',
          },
          {
            icon: 'app_settings_alt',
            heading: 'App Design',
            description: 'Nulla vitae elit libero, a pharetra augue.',
            ctaText: 'Google Website',
            ctaHref: 'https://www.google.com',
            background_color: 'warning',
            type: 'outlined',
            alignment: 'right',
            orientation: 'horizontal',
            placement: 'end',
          },
        ]
      }
  } %}

   <h1 class="text-3xl font-bold mb-4">Outlined Cards</h1>
   <div class="grid gap-x-4 gap-y-8 grid-cols-1 md:grid-cols-3"> 
   
      {% for item in icon_card_items %}

        {% if item.icon is not empty %}
          {% set material_icon = {
            '#theme': 'material_icon',
            '#icon': item.icon,
            '#family': 'material-icons-two-tone',
            '#classes': 'text-4xl',
          } %}
        {% else %}
          {% set material_icon = '' %}
        {% endif %}

        {% if item.description %}
          {% set hmtl_text = {
            '#type':   'processed_text',
            '#text':    item.description,
            '#format':  'basic_html',
          } %}
        {% endif %}

        {{ include('sanfran:icon-card', {
            icon: material_icon,
            heading: item.heading,
            description: hmtl_text,
            ctaText: item.ctaText,
            ctaHref: item.ctaHref,
            background_color: item.background_color,
            type: item.type,
            alignment: item.alignment,
            orientation: item.orientation,
            placement: item.placement,
            quick_edit: '',
          })
        }}

      {% endfor %}

    </div>

  {% endstory %}

{% endstories %}