{% if alignment == 'center' %}
  {% set alignment_class = 'text-center' %}
{% elseif alignment == 'right' %}
  {% set alignment_class = 'text-right' %}
{% else  %}
  {% set alignment_class = 'text-left' %}
{% endif %}

{% if orientation == 'horizontal' %}
  {% set orientation_class = 'flex flex-row [&>div.header]:px-8' %}
{% else %}
  {% set orientation_class = '[&>div.header]:py-8' %}
{% endif %}

{% if border == 'yes' %}
  {% set border_class = 'border p-4 rounded-lg' %}
{% else %}
  {% set border_class = '' %}
{% endif %}

{# {% set background_color_array = [
    'bg-base-lime',
    'bg-base-red',
    'bg-base-orange',
    'bg-base-yellow',
    'bg-base-green',
    'bg-base-teal',
    'bg-base-blue',
    'bg-base-purple',
    'bg-base-magenta',
    'bg-base-gray',
    ] %} #}

{% set classes_accordion = [
    paragraph.bundle|clean_class,
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished',
  ]|join(' ')|trim %}

<section {{ attributes.addClass(classes_accordion).addClass(orientation_class).addClass(border_class) }}>
  {{ quick_edit }}
  <div class="lead m-8">
      {% for key, item in lead_item %}
          {% if key|first != '#' %}
              {{ item }}
          {% endif %}
      {% endfor %}
  </div>


    <div class="items my-auto">
        {% for key, item in accordion_items %}
            {% if key|first != '#' %}
                {{ item }}
            {% endif %}
        {% endfor %}
    </div>
</section>
