.bg-red-200 {
    --tw-bg-opacity: 1;
    background-color: rgb(255 213 210 / var(--tw-bg-opacity));
}

.bg-teal-200 {
    --tw-bg-opacity: 1;
    background-color: rgb(198 237 251 / var(--tw-bg-opacity));
}

.bg-green-200 {
    --tw-bg-opacity: 1;
    background-color: rgb(198 237 251 / var(--tw-bg-opacity));
}

.bg-yellow-200 {
    --tw-bg-opacity: 1;
    background-color: rgb(248 230 160 / var(--tw-bg-opacity));
}

.bg-gray-200 {
    --tw-bg-opacity: 1;
    background-color: rgb(220 223 228 / var(--tw-bg-opacity));
}

.rounded-lg {
    border-radius: 0.5rem
}
  
.border-4 {
    border-width: 4px
}
  
.border-double {
    border-style: double
}
  
.border-primary {
    --tw-border-opacity: 1;
    border-color: var(--fallback-p,oklch(var(--p)/var(--tw-border-opacity)))
}
  
.bg-\[\#faf3d1\] {
    --tw-bg-opacity: 1;
    background-color: rgb(250 243 209 / var(--tw-bg-opacity))
}

.p-8 {
    padding: 2rem
}