{% stories grid_items with { 
  title: 'AccuEdits/Components/Grid'
} %}

  {% story grid_default with {
    name: 'Default',
      args: {
        image: 'https://daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.jpg',
        imageAlt: 'Alt text for the image goes here',
        heading: 'This Card Title',
        headingLevel: '2',
        description: 'If a dog chews shoes whose shoes does he choose?',
        ctaText: 'Read more',
        ctaHref: 'https://www.drupalgeek.com',
      }
  } %}

    <div class="grid gap-x-4 gap-y-8 grid-cols-1 md:grid-cols-3">
      {% for i in 0..2 %}
        {{ include('sanfran:card', {
            image,
            imageAlt,
            heading,
            headingLevel,
            description,
            ctaText,
            ctaHref,
          })
        }}
      {% endfor %}
    </div>

  {% endstory %}

{% endstories %}