{# Prepare presentational attributes #}


{# Markup for the component #}


  {% if background_color is not empty %}
    {% set attributes = attributes.setAttribute('style', 'border: 2px solid ' ~ background_color ~ ';') %}
  {% endif %}

  <article {{ attributes.addClass('textbox-horizontal flex flex-row p-4 rounded w-full') }}>
    
    <div class="heading-text p-4 pr-8 text-center my-auto w-2/3">
      {{ include('sanfran:headings', {
          level,
          text: heading,
          classes: 'mb-0',
        })
      }}
    </div>
    {% if background_color is not empty %}
      {% set attributes = attributes.setAttribute('style', 'border-left: 2px dashed ' ~ background_color ~ ';') %}
    {% endif %}
    <div {{ attributes.addClass('callout-text col-span-2 p-4 pl-8') }}>
        {{ include('sanfran:wysiwyg', {
            wysiwyg: description,
            classes: 'mb-0',
          })
        }}
      </div>
    </div>
  </article>