{% stories headings with { 
  title: 'AccuEdits/Atoms/Headings'
} %}

  {% story headings_default with {
    name: 'Headings Examples', 
    args: {
      level: '2',
      text: 'Headings Example',
      classes: 'h2',
    }
  } %}

    <h2>{{ text }} | {{ level }}</h2>

    {{ include('sanfran:headings', {
        level,
        text,
        classes,
        url,
        })
    }}
  {% endstory %}

{% endstories %}
