<article class="table w-5/6">

    {{ include('sanfran:headings', {
        level: '2',
        text: heading,
      })
    }}

    <div class="overflow-x-auto">   
        {{ table }}
    </div>
</article>
