
{#  variants: [default, neutral, primary, secondary, accent, ghost, link] #}
{% stories at_button with { 
  title: 'AccuEdits/Elements/Button'
} %}

  {% story button_brand with {
    name: 'Brand Colors', 
    args: {
      brandTypes: ['btn-neutral', 'btn-primary', 'btn-secondary', 'btn-accent', 'btn-ghost', 'btn-link'],
    }
  } %}
    <button class="btn">Button</button>

    {% for key, item in brandTypes %}
      {{ include('sanfran:button', {
          type: item,
          ctaText: item|replace({'btn-': ''})|capitalize,
          ctaHref: '#',
          })
      }}
    {% endfor %}
  {% endstory %}

  {% story button_outline with {
    name: 'Outline Brand Colors',
    args: {
      outlineTypes: ['primary', 'secondary', 'accent'],
    }
  } %}
    <button class="btn btn-outline">Default</button>
    {% for key, item in outlineTypes %}
      {{ include('sanfran:button', {
          type: 'btn-outline btn-' ~ item,
          ctaText: item|capitalize,
          ctaHref: '#',
          })
      }}
    {% endfor %}
  {% endstory %}

  {% story button_state with {
    name: 'State Colors', 
    args: {
      stateTypes: [
        'btn-info', 
        'btn-success', 
        'btn-warning', 
        'btn-error',
        ],
    }
  } %}

    {% for key, item in stateTypes %}
      {{ include('sanfran:button', {
          type: item,
          ctaText: item|replace({'btn-': ''})|capitalize,
          ctaHref: '#',
          })
      }}
      {% endfor %}
  {% endstory %}

  {% story button_outline_state with {
    name: 'Outline State Colors',
    args: {
      outlineTypes: ['info', 'success', 'warning', 'error'],
    }
  } %}

    {% for key, item in outlineTypes %}
      {{ include('sanfran:button', {
          type: 'btn-outline btn-' ~ item,
          ctaText: item|capitalize,
          ctaHref: '#',
          })
      }}
    {% endfor %}
  {% endstory %}

  {% story button_size with {
    name: 'Size',
  } %}
    <button class="btn btn-lg">Large</button>
    <button class="btn">Normal</button>
    <button class="btn btn-sm">Small</button>
    <button class="btn btn-xs">Tiny</button>
  {% endstory %}

{% endstories %}
