{% stories steps with { 
  title: 'AccuEdits/Components/Steps',
  argTypes: {
    background_color: {
      options: ['Select...','primary', 'secondary', 'accent', 'neutral', 'base-100', 'base-200', 'error', 'info', 'success', 'warning'],
      control: 'select'
    },
    background_pattern: {
      options: ['Select...','public://2024-05/beige_droplets.svg', 'public://2024-05/beige_pattern.svg', 'public://2024-05/blue_droplets.svg', 'public://2024-05/blue_swirls.svg', 'public://2024-05/blue_waves.svg', 'public://2024-05/purple_pattern.svg'],
      control: 'select'
    },
    border: {
      options: ['no', 'yes'],
      control: 'radio'
    },
    flip: {
      options: ['no', 'yes'],
      control: 'radio'
    },
    orientation: {
      options: ['Select...','stacked', 'horizontal'],
      control: 'select'
    },
  }
} %}

    {% story steps_items with {
    name: 'Default',
      args: {
        background_color: 'primary',
        background_pattern: 'public://2024-05/blue_swirls.svg',
        border: 'no',
        flip: 'no',
        orientation: 'stacked',
        lead_item: [
          {
            eyebrow: '',
            heading: 'Steps to Apply',
            level: '1',
            description: 'Make sure you follow the steps in order.',
            ctaText: '',
            ctaHref: '',
            cta_title_secondary: '',
            cta_url_secondary: '',
            alignment: 'left',
            background_color: 'accent',
            background_glass: 'no',
            width: 'w-6/12',
          }
        ],
        steps_items: [
            {
              icon: 'check_circle',
              step_number: '1',
              heading: 'First Step Title',
              headingLevel: '2',
              description: 'If a dog chews shoes whose shoes does he choose?',
              ctaText: 'Read more',
              ctaHref: 'https://www.drupalgeek.com',
            },
            {
              icon: '',
              step_number: '2',
              heading: 'Second Step Title',
              headingLevel: '3',
              description: 'If a cat chases mice does it enjoy the hunt?',
              ctaText: 'Google Website',
              ctaHref: 'https://www.google.com',
            },
        ]
      }
  } %}

    {% set storybook_lead_item %}
      {% for item in lead_item %}
        
        {% if item.description %}
          {% set hmtl_text = {
            '#type':   'processed_text',
            '#text':    item.description,
            '#format':  'basic_html',
          } %}
        {% endif %}


        {{ include('sanfran:lead', {
            eyebrow: item.eyebrow,
            heading: item.heading,
            level: '1',
            description: hmtl_text,
            ctaText: item.ctaText,
            ctaHref: item.ctaHref,
            cta_title_secondary: item.cta_title_secondary,
            cta_url_secondary: item.cta_url_secondary,
            alignment: item.alignment,
            background_glass: item.background_glass,
            background_color: item.background_color,
            width: item.width,
        }) }}

      {% endfor %}
    {% endset %}

    {{ include('sanfran:steps', {
        background_pattern,
        background_color,
        border,
        flip,
        orientation,
        placement,
        lead_item: storybook_lead_item,
        steps_items,
        quick_edit: '',
        storybook: 'yes',
    }) }}

    {# <div class="relative left-4 pl-4">

      {% for item in steps_items %}
        {% if item.icon is not empty %}
          {% set material_icon = {
            '#theme': 'material_icon',
            '#icon': item.icon,
            '#family': 'material-icons-two-tone',
            '#classes': 'text-4xl',
          } %}
        {% else %}
          {% set material_icon = '' %}
        {% endif %}
        
          {{ include('sanfran:step-item', {
              icon: material_icon,
              step_number: item.step_number,
              heading: item.heading,
              headingLevel: item.headingLevel,
              description: item.description,
              quick_edit: '',
            })
          }}
      {% endfor %}

      </div> #}

  {% endstory %}

{% endstories %}