{% set classes_hero = [
    'hero-banner',
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]|join(' ')|trim %}

{% if image is not empty %}
  {% set attributes = attributes.setAttribute('style', 'background-size: cover; background-image: url("' ~ image|render|striptags|trim|default('') ~ '");') %}
{% endif %}

<article {{ attributes.addClass(classes_hero) }}>

  <div class="hero-glass hero-cta">
    {{ include('sanfran:headings', {
        level: '1',
        text: heading,
      })
    }}
    <p>{{ description }}</p>
    
    {% if ctaText is not empty %}
      <div class="hero--cta">
        {{ include('sanfran:button', {
          type: 'btn-accent',
          ctaText,
          ctaHref,
          })
        }}
      </div>
    {% endif %}
  </div>

</article>