{% if border == 'yes' %}
  {% set border_class = 'border p-4 rounded-lg' %}
{% else %}
  {% set border_class = '' %}
{% endif %}

{% if placement == 'end' %}
  {% set placement_class = 'flex flex-row-reverse' %}
{% elseif placement == 'middle'%}
  {% set placement_class = 'flex justify-center' %}
{% else %}
  {% set placement_class = 'flex flex-row' %}
{% endif %}

{% set paragraph_classes = [
    paragraph.bundle,
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]|join(' ')|trim %}

{% if image is not empty %}
  {% if storybook %}
    {% set attributes = attributes.setAttribute('style', 'background-size: cover; background-image: url("https://accuedits.ddev.site' ~ image|image_style('32_9_2xl_1536x432')|render|striptags|trim|default('') ~ '");') %}
  {% else %}
    {% set attributes = attributes.setAttribute('style', 'background-size: cover; background-image: url("' ~ image|image_style('32_9_2xl_1536x432')|render|striptags|trim|default('') ~ '");') %}
  {% endif %}
{% endif %}

    

<section 
  {{ attributes.addClass(paragraph_classes)
    .addClass(border_class)
    .addClass(placement_class)
    .addClass('p-8 place-items-start rounded-lg [&>div:first-child]:absolute') 
  }}>
  {{ quick_edit }} 

  {# Display Lead paragraph #}
  {% if storybook %}
      {{ lead_item }}
  {% else %}
      {% for key, item in lead_item %}
          {% if key|first != '#' %}
              {{ item }}
          {% endif %}
      {% endfor %}
  {% endif %}

</section>

