{% if alignment == 'center' %}
  {% set alignment_class = 'text-center' %}
{% elseif alignment == 'right' %}
  {% set alignment_class = 'text-right' %}
{% else  %}
  {% set alignment_class = 'text-left' %}
{% endif %}

{% if orientation == 'horizontal' %}
  {% set orientation_class = 'flex flex-row [&>div.header]:px-8' %}
{% else %}
  {% set orientation_class = '[&>div.header]:py-4' %}
{% endif %}

{% if border == 'yes' %}
  {% set border_class = 'border p-4 rounded-lg' %}
{% else %}
  {% set border_class = '' %}
{% endif %}

{% if placement == 'end' %}
  {% set placement_class = 'flex flex-row-reverse' %}
{% elseif placement == 'middle'%}
  {% set placement_class = 'flex justify-center' %}
{% else %}
  {% set placement_class = 'flex flex-row' %}
{% endif %}

{% set classes_hero = [
    'hero-banner',
    'bg-' ~ background_color ~ '/[.25]',
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]|join(' ')|trim %}

{% if image is not empty %}
  {% set attributes = attributes.setAttribute('style', 'background-size: cover; background-image: url("' ~ image|image_style('32_9_2xl_1536x432')|render|striptags|trim|default('') ~ '");') %}
{% endif %}

<section 
  {{ attributes.addClass(classes_hero)
    .addClass(orientation_class)
    .addClass(border_class)
    .addClass(placement_class)
    .addClass('p-8 place-items-start rounded-lg') 
  }}>
  {{ quick_edit }} 

  {# Display Lead paragraph #}
  {% for key, item in lead_item %}
    {% if key|first != '#' %}
        {{ item }}
    {% endif %}
  {% endfor %}

</section>

