{# Prepare presentational attributes #}


{# Markup for the component #}
{% set classes_page_title = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished',
    'bg-base-' ~ background_color,
  ]|join(' ')|trim %}

<article {{ attributes.addClass(classes_page_title).addClass('flex flex-row p-8 rounded-lg') }}>

  <div class="rounded w-full">
    {% if eyebrow %}
      <div class="callout uppercase">{{ eyebrow }}</div>
    {% endif %}

    {% if heading %}
      {{ include('sanfran:headings', {
          level: '1',
          text: heading,
        })
      }}
    {% endif %}

    {% if description %}
      {{ include('sanfran:wysiwyg', {
          wysiwyg: description,
        })
      }}
    {% endif %}
  </div>

</article>