{% stories gradients with {
  title: 'AccuEdits/Base/Gradients'
} %}

  {% story gradients_default with {
    name: 'Default', 
    args: {
      background_color: '',
      background_pattern: '',
      border: 'no',
      gradient: {
        "primary_1": "from-primary to-neutral",
        "primary_2": "from-info to-secondary",
        "secondary_1": "from-accent to-primary",
        "secondary_2": "from-error to-warning",
        "tertiary_1": "from-accent to-error",
        "tertiary_2": "from-warning to-secondary",
      },
      gradient_direction: [' bg-gradient-to-r ',' bg-gradient-to-l '],
    }
  } %}

    {# This command is for TW generation only #}
    {% set all_background_gradients = {
        primary: 'bg-gradient-to-r from-primary to-neutral',
        primary: 'bg-gradient-to-r from-info to-secondary',
        secondary: 'bg-gradient-to-r from-accent to-primary',
        secondary: 'bg-gradient-to-l from-error to-warning',
        tertiary: 'bg-gradient-to-l from-accent to-error',
        tertiary: 'bg-gradient-to-l from-warning to-secondary',
    } %} 

    <div class="grid gap-x-4 gap-y-8 grid-cols-1 sm:grid-cols-2">

    {% for key, color_stops in gradient %}

        {% for direction in gradient_direction %}

          {{ include('sanfran:parallel-callout', {
            background_color,
            background_pattern,
            border,
            gradient: color_stops,
            gradient_direction: direction,
            eyebrow: direction,
            description: color_stops,
            heading: key|capitalize|replace({'_': ' '}),
            level: '2',
            quick_edit: '',
          }) }}

        {% endfor %}

    {% endfor %}
   
    </div>
  {% endstory %}


{% endstories %}
