.media-left2  {
    img,
    iframe  {
        border-radius: 0.5rem;
    }
}

.media-left-border2 {
    img,
    iframe {
        border-bottom-left-radius: 0.5rem;
        border-bottom-right-radius: 0;
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0;
    }
}

.media-right2 {
    .spotlight-media {
        order: 2;
        img,
        iframe  {
            border-radius: 0.5rem;
        }
    }
    .spotlight-callout {
        order: 1;
    }
}

.media-right-border2 {
    .spotlight-media {
        order: 2;
        img,
        iframe  {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0.5rem;
            border-top-left-radius: 0;
            border-top-right-radius: 0.5rem;
        }
    }
    .spotlight-callout {
        order: 1;
    }
}
