

.image-left.no-border  {
    img,
    iframe  {
        border-radius: 0.25rem;
    }
}

.image-left.with-border {
    border-radius: 0.5rem;
    border-width: 1px;
    --tw-border-opacity: 1;
    border-color: rgb(203 213 225 / var(--tw-border-opacity));
    img,
    iframe {
        border-top-left-radius: 0.25rem;
        border-bottom-left-radius: 0.25rem;
    }
}

.image-right.no-border {
    .spotlight-media {
        order: 2;
        img,
        iframe  {
            border-radius: 0.25rem;
        }
    }
    .spotlight-callout {
        order: 1;
    }
}

.image-right.with-border {
    /* @apply border border-slate-300 rounded; */
    border-radius: 0.5rem;
    border-width: 1px;
    --tw-border-opacity: 1;
    border-color: rgb(203 213 225 / var(--tw-border-opacity));
    
    .spotlight-media {
        order: 2;
        img,
        iframe  {
            border-top-right-radius: 0.25rem;
            border-bottom-right-radius: 0.25rem;
        }
    }
    .spotlight-callout {
        order: 1;
    }
}